{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier",
        "stylelint-config-rational-order"
    ],
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "selector-pseudo-class-no-unknown": null,
        "font-family-no-missing-generic-family-keyword": null,
        "function-name-case": "lower",
        "no-descending-specificity": null,
        "at-rule-no-unknown": null,
        "declaration-block-single-line-max-declarations": null,
        "no-duplicate-selectors": null
    },
    "ignoreFiles": []
}